.brism-sign-board {
    width: 480px;
    height: 120px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    background-color: #343a40;
    color: white;
    overflow: hidden;
}

div.table {
    display: table;
}

div.row {
    display: table-row;
}

div.cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.header {
    font-size: 12px;
}

div.score-header {
    width: 30px;
    text-align: center;
}
div.score {
    width: 30px;
    text-align: center;
    font-size: 2.0rem;
}

div.point-header {
    padding: 0 1rem;
}
div.point {
    min-width: 47px;
    font-size: 2.6rem;
    padding: 0 1rem;
}

div.name1 {
    padding: 0 1.8rem 0 1.0rem;
    font-size: 1.2rem;
    text-align: left;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div.name2 {
    padding: 0 0.5rem 0 0.8rem;
    font-size: 1.2rem;
    text-align: left;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div.name3 {
    padding: 0 1.2rem 0 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.border-top {
    border-top: 1px solid #494f54;
}

.serve-player {
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    width: 10px; height: 10px; border: 2px solid yellow;
}
.serve-player.active {
    background-color: yellow;
}

.flex-container {
    width: 100%; height: 100%; box-sizing: border-box; display: flex; align-items: center; justify-content: center
}
.brism-sign-title-bar {
    width: 100%; height: 30px; box-sizing: border-box; display: flex; align-items: center; justify-content: center;
    border-bottom: 1px solid white
}

.result-point {
    padding: 0 1rem; font-size: 4rem
}
.result-name {
    width: 100%; height: 29px; text-overflow: ellipsis; overflow: hidden
}
.result-name-group {
    font-size: 1.5rem; margin: 0 0rem; width: 120px
}